h1 {
color : white;
}
body {
background-color : #292929;
font-family : 'Lato', sans-serif;
}
<<<<<<< HEAD
=======
header {
background : url("../images/headermetlogo.png");
width : 960px;
height : 150px;
}
>>>>>>> 617c57823e1074e4c62a026e0a45f5abff5aa8a2
header h1 {
font-size : 300%;
color : white;
text-shadow : 3px 3px 3px #294777;
}
ul {
background : white;
padding : 15px;
border : #294777 solid 4px;
background-color : #36404F;
position : relative;
bottom : 10px;
}
ul li {
background : white;
padding : 15px;
border : #294777 solid 4px;
display : block;
background-color : rgb(128, 128, 128, 0.6);
position : relative;
}
ul li a {
color : white;
text-shadow : 1px 1px 1px #000000;
text-decoration : none;
padding : 5px;
}
ul li a:hover {
color : white;
}
section article {
border : #294777 solid 4px;
border-radius : 10px 20px 20px 20px;
margin : 5px 10px 5px 10px;
padding : 10px;
background : white;
background-color : #36404F;
<<<<<<< HEAD
width : 920px;
=======
width : 1050px;
float : right;
>>>>>>> 617c57823e1074e4c62a026e0a45f5abff5aa8a2
line-height : 20px;
}
footer {
background : #294777;
clear : both;
}
footer h3 {
text-align : center;
font-weight : normal;
font-size : 70%;
}
p {
color : white;
}
h2 {
color : white;
}
h3 {
color : white;
}
#Menu {
<<<<<<< HEAD
  float: left;
=======
float : left;
>>>>>>> 617c57823e1074e4c62a026e0a45f5abff5aa8a2
}
iframe {
width : 1070px;
height : 450px;
border-radius : 10px 20px 20px 20px;
border : #294777 solid 4px;
<<<<<<< HEAD
float: right;
clear: left;
=======
position : relative;
left : 15px;
>>>>>>> 617c57823e1074e4c62a026e0a45f5abff5aa8a2
}
img {
width : 350px;
height : 100px;
<<<<<<< HEAD
float: left;
clear: left;
}
article{
  position: relative;
  left: 50%;
  right: 50%;
=======
float : right;
>>>>>>> 617c57823e1074e4c62a026e0a45f5abff5aa8a2
}
